/*Continue Shopping Button */
.btn-shop {background-color:#009c9c; color:#ffffff;}

/*Login Page */
.order-cloud .form-signin {background-color: #11436f; width: 100%}
.order-cloud .btn {max-width:400px; margin-top:20px; margin-bottom:20px;}
.order-cloud .form-control {max-width:400px;}

/* Max-Width Center Content */
@media (min-width: 768px) {.container, .container-view {width: 730px;}}
@media (min-width: 992px) {.container, .container-view {width: 950px;}}
@media (min-width: 1200px) {.container, .container-view {width: 1150px;}}

/* Item Image Border */
.product-image-large {border:1px solid #909090;}
.thumbnail img {border:1px solid #909090}

.navbar-default  {background-color: #0082C6;}
.navbar-nav a  {color: #FFFFFF !important;}
.navbar-nav li.active a  {background-color: #0071AD !important;}
.navbar-nav li.active a  {color: #FFFFFF !important;}
.navbar-default  {border-color: #0082C6;}
body  {background-color: #F0F0F0;}
.text-primary  {color: #0C2A3A;}
.text-info  {color: #31708F;}
body a  {color: #0C2A3A;}
.btn-primary  {background-color: #0C2A3A; color: #FFFFF; border-color: #0C2A3A;}
.btn-primary:hover  {background-color: #051118; color: #FFFFF;}
.btn-default  {background-color: #FFFFFF; color: #333333; border-color: #CCCCCC;}
.btn-default:hover  {background-color: #EBEBEB; color: #333333;}
.btn-info  {background-color: #5BC0DE; color: #FFFFFF; border-color: #46B8DA;}
.btn-info:hover  {background-color: #39B3D7; color: #FFFFFF;}
.btn-success  {background-color: #5CB85C; color: #FFFFFF; border-color: #4CAE4C;}
.btn-success:hover  {background-color: #47A447; color: #FFFFFF;}
.btn-warning  {background-color: #f0ad4e; color: #FFFFFF; border-color: #EEA236;}
.btn-warning:hover  {background-color: #ED9C28; color: #FFFFFF;}
.btn-danger  {background-color: #D9534F; color: #FFFFFF; border-color: #D43F3A;}
.btn-danger:hover  {background-color: #D2322D; color: #FFFFFF;}
.jumbotron  {background-color: #FFFFFF;}
.jumbotron h2  {color: #333333;}
.panel-primary .panel-heading .panel-title  {background-color: #0071AD;}
.panel-primary .panel-heading .panel-title  {color: #FFFFFF;}
.panel-default .panel-heading .panel-title  {background-color: #F5F5F5;}
.panel-default .panel-heading .panel-title  {color: #333333;}
.fa-arrow-left{color:#ffffff !important;}
.fa-caret-down{color:#75ACB3 !important;}
.dropdown-menu > li > a:hover{background-color:#0082C6 !important;}
.dropdown-menu > li > a:focus{background-color:#0082C6 !important;}
.navbar-nav .dropdown-menu a {color: #333 !important;}
.navbar-nav .dropdown-menu a:hover {color: #fff !important;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{background-color: #0071AD !important;}
.Document {display: none;}
.img-center {margin-right:auto; margin-left:auto;}
.cling {position: fixed; right: 0px; top: 237px;}
.bullet-list li {list-style-type: disc; margin-left: 13px;}
.vertical-center {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
.category-btn {padding: 15px; background: url('http://trublue.prograde.com/images/site_images/TB_categoryIcons_121514-btnBlank.png'); width:200px; min-height:164px;}
.category-btn h5 {font-size:18px; color:white; font-weight:bold;}
productlistview .panel {
    margin-top: 15px;
}
.container-view {
    margin-top:30px;
}
.countdown-row :not(:last-of-type) {
    border-right: black 1px solid;
}
.product-detail-default {
    margin-top:10px;
}