<section class="order-search-view">
    <loadingindicator ng-show="approvalIndicator" title="Approving Orders..." />
    <p class="alert alert-info text-center" ng-hide="orders && orders.length > 0">There are no orders for approval currently.</p>
    <div class="panel panel-default" ng-show="orders.length > 0">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="text-info" ng-show="orderSearchStat.Type">
                    {{(orderSearchStat.Type) + ' ' + ('Orders' | rl) | xlat}}:
                </span>
                {{orderSearchStat.DisplayName | r | xlat}}
                <span ng-show="!orderSearchStat.Type">
                    {{'Search' | r | xlat}}
                </span>
            </h3>
        </div>
        <div class="panel-table">
            <loadingindicator ng-show="pagedIndicator" />
            <div ng-show="settings.listCount > settings.pageSize">
                <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                            items-per-page="settings.pageSize" direction-links="true"></pagination>
            </div>
            <div class="row hidden-xs text-info">
                <div class="col-xs-12 col-sm-1"><input type="checkbox" ng-model="selectAll" ng-change="selectAllChange()" ></div>
                <div class="col-xs-12 col-sm-1">{{'ID' | r | xlat}}</div>
                <div class="col-xs-12 col-sm-2">{{'Type' | r | xlat}}</div>
                <div class="col-xs-12 col-sm-2">{{'Status' | r | xlat}}</div>
                <div class="col-xs-12 col-sm-2">{{'Submitted' | r | xlat}}</div>
                <div class="col-xs-12 col-sm-2">{{('Submitted' | r) + ' ' + ('Date' | r) | xlat}}</div>
                <div class="col-xs-12 col-sm-2" ng-if="!(user.Permissions.contains('HidePricing'))">{{'Total' | r | xlat}}</div>
            </div>
            <div class="row" ng-repeat="order in orders | paginate:(settings.currentPage-1) * settings.pageSize | limitTo:settings.pageSize">
                <div class="col-sm-1">
                    <input type="checkbox" ng-model="rowSelection[order.ExternalID]" >
                </div>
                <div class="col-sm-1">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'ID' | r | xlat}}</span>
                    <a ng-href="{{currentOrder.ID == order.ID ? 'cart' : 'order/' + order.ID}}">{{order.ExternalID || ('(unspecified)' | xlat)}}</a>
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Type' | r | xlat}}</span>
                    {{order.Type}}
                </div>
                <div class="col-sm-2">
                     <span class="visible-xs panel-table-heading-xs text-info">{{'Status' | r | xlat}}</span>
                    {{order.StatusText}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{'Submitted' | r | xlat}}</span>
                    {{order.FromUserFirstName + ' ' + order.FromUserLastName}}
                </div>
                <div class="col-sm-2">
                    <span class="visible-xs panel-table-heading-xs text-info">{{('Submitted' | r) + ' ' + ('Date' | r) | xlat}}</span>
                    {{order.DateSubmitted || order.DateCreated | date:user.Culture.DateFormat.long}}
                </div>
                <div class="col-sm-2" ng-if="!(user.Permissions.contains('HidePricing'))">
                    <span class="visible-xs heading-xs text-info">{{'Total' | r}}</span>
                    {{order.Total | culturecurrency}}
                </div>
            </div>
            <div ng-show="settings.listCount > settings.pageSize">
                <pagination page="settings.currentPage" max-size="8" rotate="false" boundary-links="true" total-items="settings.listCount"
                            items-per-page="settings.pageSize" direction-links="true"></pagination>
            </div>
        </div>
        <div class="panel-footer">
            <button class="pull-right btn btn-primary" ng-click="approveSelected()">Approve Selected Orders</button>
        </div>
    </div>
</section>